body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  color: #333333;
  box-sizing: border-box;
}
button {
  background-color: transparent;
  border: none;
  color: #333333;
  cursor: pointer;
}
select,
input,
textarea {
  box-sizing: border-box;
  flex-grow: 1;
  outline: none;
  border: 2px solid #e3e3e3;
  color: #7f7f7f;
  font-size: 14px;
  border-radius: 6px;
  padding: 7px;
  height: 40px;
  background-color: transparent;
}
select:focus,
input:focus,
textarea:focus,
select:active,
input:active,
textarea:active {
  border: 2px solid #0084cc;
}
textarea {
  height: auto;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
.double_input {
  display: flex;
  position: relative;
  height: 40px;
}
.double_input_left {
  border-radius: 6px 0 0 6px;
  border-right-width: 1px;
}
.double_input_right {
  border-radius: 0 6px 6px 0;
  border-left-width: 1px;
}
.double_input span {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  line-height: 40px;
  color: #333333;
  margin: 0 10px;
  font-size: 14px;
}
.custom_form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #e3e3e3;
  color: #7f7f7f;
  font-size: 14px;
  border-radius: 6px;
  padding: 0 10px;
  height: 40px;
  cursor: pointer;
}
.custom_form_options {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: white;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 7px -3px black;
  z-index: 2;
}
.custom_form_value {
  display: block;
}
.custom_form .fas {
  transition: 0.5s;
}
.custom_select option {
  line-height: 35px;
  padding: 0 15px;
  color: #333333;
}
.custom_select option:hover {
  background-color: #f0f3fb;
}
.custom_checkboxes .custom_checkbox {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 40px;
  color: #333333;
}
.custom_checkboxes .custom_checkbox_mark {
  width: 18px;
  height: 18px;
  border: 1px solid #0084cc;
  border-radius: 4px;
  margin-right: 15px;
}
.custom_checkboxes .custom_checkbox .checked {
  background-color: #0084cc;
  background-image: url(../images/check.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
}
.custom_checkboxes .custom_checkbox img {
  margin-right: 15px;
}
.custom_checkboxes .custom_checkbox_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.custom_range .custom_form_options {
  box-sizing: border-box;
  padding: 15px;
  display: grid;
  grid-template-rows: repeat(2, 35px);
  grid-template-columns: repeat(3, 70px);
  gap: 10px;
  cursor: default;
}
.custom_range_item {
  width: 70px;
  height: 35px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  text-align: center;
  line-height: 35px;
  color: #333333;
  cursor: pointer;
}
.custom_range_item:hover {
  background-color: #f0f3fb;
}
.custom_range .selected {
  background-color: #0084cc;
  border-color: #0084cc;
  color: white;
}
.custom_form_active {
  border-color: #0084cc;
}
a {
  text-decoration: none;
  color: #333333;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
.marks,
.header_notification_mark,
.header_comments_mark,
.header_like_mark {
  display: block;
  position: absolute;
  top: 15px;
  right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  color: white;
  line-height: 15px;
  font-size: 10px;
  text-align: center;
}
.hidden {
  display: none !important;
}
.plug {
  flex-grow: 1;
}
.site_logo {
  display: flex;
  align-items: center;
  margin-right: 70px;
}
.site_logo_text {
  margin-left: 7px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-size: 14px;
}
.header_geoposition {
  height: 100%;
  padding: 4px 10px 0 10px;
  border-bottom: 4px solid transparent;
}
.header_geoposition .fas {
  font-size: 12px;
  margin-right: 13px;
}
.header_geoposition:hover {
  border-bottom: 4px solid #0084cc;
}
.header_geoposition:hover .fas {
  color: #0084cc;
}
.header_currency,
.header_create,
.header_user {
  position: relative;
  padding: 4px 10px 0 10px;
  border-bottom: 4px solid transparent;
}
.header_currency_button,
.header_create_button,
.header_user_button {
  height: 62px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header_currency_button img,
.header_create_button img,
.header_user_button img {
  margin-right: 10px;
}
.header_currency_button .fas,
.header_create_button .fas,
.header_user_button .fas {
  margin-left: 13px;
  font-size: 18px;
}
.header_currency_button_icon,
.header_create_button_icon,
.header_user_button_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0084cc;
  width: 24px;
  height: 24px;
  color: white;
  font-size: 20px;
  margin-right: 16px;
}
.header_currency:hover,
.header_create:hover,
.header_user:hover {
  border-bottom: 4px solid #0084cc;
}
.header_currency_menu,
.header_create_menu,
.header_user_menu,
.header_currency_accounts,
.header_create_accounts,
.header_user_accounts {
  position: absolute;
  top: 70px;
  left: 0;
  padding: 10px 0;
  background-color: white;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 7px -3px black;
}
.header_currency_menu {
  padding: 20px;
}
.header_currency_menu span {
  display: block;
  font-style: 12px;
}
.header_currency_menu select {
  color: #333333;
  border-color: #0084cc;
  margin: 9px 0 25px 0;
  width: 100%;
}
.header_currency_menu_buttons {
  display: flex;
}
.header_currency_menu_buttons button {
  padding: 12px 20px;
  color: #0084cc;
  border-radius: 6px;
}
.header_currency_menu_buttons .save {
  background-color: #0084cc;
  color: white;
  margin-left: 20px;
}
.header_currency_menu_buttons .save:hover {
  background: linear-gradient(90deg, #0084cc, #5eb4e2);
}
.header_create_menu,
.header_user_menu,
.header_user_accounts {
  right: 0;
  left: auto;
  min-width: 240px;
}
.header_create_menu .splitter,
.header_user_menu .splitter,
.header_user_accounts .splitter {
  padding: 0;
  margin: 8px 0;
  height: 1px;
  background-color: #e3e3e3;
}
.header_create_menu a,
.header_user_menu a,
.header_user_accounts a,
.header_create_menu button,
.header_user_menu button,
.header_user_accounts button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  line-height: 40px;
  width: 100%;
  padding: 0 15px;
}
.header_create_menu a img,
.header_user_menu a img,
.header_user_accounts a img,
.header_create_menu button img,
.header_user_menu button img,
.header_user_accounts button img {
  margin-right: 10px;
}
.header_create_menu a:hover,
.header_user_menu a:hover,
.header_user_accounts a:hover,
.header_create_menu button:hover,
.header_user_menu button:hover,
.header_user_accounts button:hover {
  background-color: #f0f3fb;
}
.header_create_menu .accounts_back,
.header_user_menu .accounts_back,
.header_user_accounts .accounts_back {
  font-weight: 500;
}
.header_create_menu .accounts_back .fas,
.header_user_menu .accounts_back .fas,
.header_user_accounts .accounts_back .fas {
  margin-right: 15px;
}
.header_buttons {
  display: flex;
  align-items: center;
  margin-left: 120px;
}
.header_notification,
.header_comments,
.header_like {
  position: relative;
  height: 70px;
  padding: 4px 15px 0 15px;
  border-bottom: 4px solid transparent;
}
.header_notification:hover,
.header_comments:hover,
.header_like:hover {
  border-bottom: 4px solid #0084cc;
}
main {
  position: relative;
  flex-grow: 1;
  margin-top: 70px;
  z-index: 1;
}
main h1 {
  font-weight: 700;
  color: white;
  line-height: 43px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65);
  text-align: center;
  margin: 0 0 47px 0;
}
main h2 {
  color: #004870;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  margin: 0;
  line-height: 40px;
}
main h3 {
  line-height: 28px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #0084cc;
}
main h3 .fas {
  font-size: 16px;
  margin-left: 10px;
}
main p {
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}
.main {
  box-sizing: border-box;
  min-height: 500px;
  background-image: url(../images/main_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  padding: 70px 0;
}
.main_content_tabs {
  display: flex;
  justify-content: space-between;
}
.main_content_tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 46px;
  background-color: white;
  color: #0084cc;
  font-weight: bold;
  border-radius: 4px;
}
.main_content_tab:hover {
  background-color: #f0f3fb;
}
.main_content_tab img {
  margin-right: 12px;
}
.main_content_active_tab {
  background-color: #0084cc;
  color: white;
  cursor: default;
}
.main_content_active_tab:hover {
  background-color: #0084cc;
}
.main_content_tab_window {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 4px;
  min-height: 172px;
}
.main_content_tab_window .double_input_left,
.main_content_tab_window .double_input_right {
  width: 135px;
}
.main_content_tab_window .real_estate_address {
  position: relative;
  grid-column-start: 3;
  grid-column-end: 5;
}
.main_content_tab_window .real_estate_address #address {
  width: 100%;
  height: 100%;
  padding-left: 45px;
}
.main_content_tab_window .real_estate_address img {
  position: absolute;
  top: 13px;
  left: 15px;
}
.main_content_tab_window_filters {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.main_content_tab_window_filters .more_filters {
  display: flex;
  align-items: center;
  color: #0084cc;
  font-weight: bold;
}
.main_content_tab_window_filters .more_filters:hover span {
  text-decoration: underline;
}
.main_content_tab_window_filters .clear_filters {
  display: flex;
  align-items: center;
  color: #aaaaaa;
  padding: 0 22px;
}
.main_content_tab_window_filters .show_on_map {
  display: flex;
  align-items: center;
  color: #0084cc;
  font-weight: bold;
  padding: 0 30px;
  margin: 0 20px;
  border: 2px solid #0084cc;
  border-radius: 6px;
  height: 100%;
}
.main_content_tab_window_filters .show_on_map:hover {
  background-color: #f0f3fb;
}
.main_content_tab_window_filters .ads {
  line-height: 40px;
  background-color: #0084cc;
  border: 2px solid #0084cc;
  color: white;
  font-weight: bold;
  padding: 0 30px;
  border-radius: 6px;
}
.main_content_tab_window_filters .ads:hover {
  background: linear-gradient(90deg, #0084cc, #5eb4e2);
}
.main_content_tab_window_filters .fas {
  margin-right: 10px;
}
.rent_methods {
  padding: 35px 20px 0 20px;
}
.rent_methods_tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 0;
}
.rent_methods_tile {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 260px;
  padding: 30px 20px;
  margin-bottom: 20px;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
}
.rent_methods_tile p {
  text-align: center;
}
.rent_methods_tile:hover {
  box-shadow: 0 0 10px -5px black;
}
.rent_methods_tile:hover h3 {
  text-decoration: underline;
}
.opportunities {
  background-color: #f0f3fb;
}
.opportunities_content {
  padding: 50px 20px 55px 20px;
}
.opportunities_content_tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}
.opportunities_content_tile {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px 30px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 6px;
  padding: 30px;
}
.opportunities_content_tile .opportunities_icon {
  grid-row-start: 1;
  grid-row-end: 3;
}
.opportunities_content_tile h3,
.opportunities_content_tile p {
  text-align: left;
}
.opportunities_content_tile:hover {
  box-shadow: 0 0 10px -5px black;
}
.opportunities_content_tile:hover h3 {
  text-decoration: underline;
}
.invest {
  box-sizing: border-box;
  min-height: 420px;
  background-image: url(../images/main_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.invest_content {
  padding: 50px 20px 80px 20px;
}
.invest_content h2 {
  color: white;
  font-weight: 700;
}
.invest_content p {
  color: white;
  font-size: 20px;
  line-height: 28px;
  margin: 20px 0 55px 0;
  text-align: center;
  font-weight: 400;
}
.invest_content_links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.invest_content_link {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0084cc;
  font-size: 14px;
  font-weight: 500;
  height: 60px;
  padding: 10px;
  background-color: white;
  border-radius: 6px;
  flex-grow: 1;
}
.invest_content_link .invest_link_icon_block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #009a34;
  margin-right: 15px;
}
.invest_content_link:hover span {
  text-decoration: underline;
}
.partners {
  background-color: #f0f3fb;
}
.partners_content {
  padding: 50px 20px 70px 20px;
}
.partners_content_logos {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.partners_content_logos .partner_logo_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 180px;
  border-radius: 6px;
  margin: 0 10px;
  box-shadow: 0px 0px 4px 0px rgba(54, 54, 54, 0.25);
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 45px 20px 70px 20px;
  font-size: 14px;
}
.footer .copyright {
  display: block;
  font-size: 12px;
  margin-top: 18px;
}
.footer ul {
  padding-top: 10px;
}
.footer ul li {
  margin-bottom: 18px;
}
.modal_window {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background-color: rgba(79, 116, 127, 0.6);
  z-index: 5;
}
.modal_window_content {
  position: relative;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}
.modal_window_content h3 {
  color: #004870;
  font-weight: 500;
  font-size: 26px;
  text-align: left;
  margin: 0;
}
.modal_window_content .modal_window_close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 25px;
  color: #7f7f7f;
}
.modal_window_content .modal_window_close:hover {
  color: #0084cc;
}
.modal_window_additional_filters {
  padding: 30px;
}
.modal_window_additional_filters .additional_filters_forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 20px;
  margin: 30px 0 50px 0;
}
.modal_window_additional_filters .additional_filters_form_name {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}
.modal_window_additional_filters .additional_filters_form .double_input_left,
.modal_window_additional_filters .additional_filters_form .double_input_right {
  width: 170px;
}
.modal_window_additional_filters .additional_filters_form .select {
  display: flex;
  border-radius: 4px;
}
.modal_window_additional_filters .additional_filters_form .select_item {
  font-size: 13px;
  color: #0084cc;
  padding: 0 15px;
  line-height: 40px;
  border: 1px solid #e3e3e3;
  border-left: none;
}
.modal_window_additional_filters .additional_filters_form .select_item:first-child {
  border-left: 1px solid #e3e3e3;
  border-radius: 4px 0 0 4px;
}
.modal_window_additional_filters .additional_filters_form .select_item:last-child {
  border-radius: 0 4px 4px 0;
}
.modal_window_additional_filters .additional_filters_form .select_item:hover {
  background-color: #f0f3fb;
}
.modal_window_additional_filters .additional_filters_form .select .selected {
  background-color: #0084cc;
  color: white;
}
.modal_window_additional_filters .additional_filters_form .select .selected:hover {
  background-color: #0084cc;
}
.modal_window_additional_filters .additional_filters_control {
  display: flex;
  justify-content: flex-end;
}
.modal_window_additional_filters .additional_filters_control .reset {
  line-height: 50px;
  padding: 0 45px;
  color: #0084cc;
}
.modal_window_additional_filters .additional_filters_control .reset:hover {
  text-decoration: underline;
}
.modal_window_additional_filters .additional_filters_control .accept {
  line-height: 50px;
  background-color: #0084cc;
  border: 2px solid #0084cc;
  color: white;
  font-weight: bold;
  padding: 0 45px;
  border-radius: 6px;
}
.modal_window_additional_filters .additional_filters_control .accept:hover {
  background: linear-gradient(90deg, #0084cc, #5eb4e2);
}
.modal_window_rent_methods .rent_methods_title {
  display: flex;
  align-items: center;
  padding: 30px;
}
.modal_window_rent_methods .rent_methods_title img {
  margin-right: 20px;
}
.modal_window_rent_methods .rent_methods_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f3fb;
  padding: 30px 90px 50px 90px;
}
.modal_window_rent_methods .rent_methods_content_chain_link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 30px;
  width: 590px;
  background-color: white;
  border: 2px solid #0084cc;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.modal_window_rent_methods .rent_methods_content_chain_link p {
  font-size: 14px;
  line-height: 24px;
  margin: 25px 0 0 0;
}
.modal_window_rent_methods .rent_methods_content .chain_link_connector {
  width: 2px;
  height: 30px;
  background-color: #0084cc;
}
.modal_window_rent_methods .rent_methods_content .chain_link_number {
  position: absolute;
  top: 30px;
  left: -15px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 2px solid #0084cc;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #0084cc;
  font-weight: 700;
}
.modal_window_error_report {
  padding: 30px;
}
.modal_window_error_report p {
  font-size: 14px;
  margin: 10px 0 30px 0;
}
.modal_window_error_report .error_report_forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 200px 1fr auto auto;
  gap: 20px;
}
.modal_window_error_report .error_report_forms #error_desc {
  grid-column-start: 1;
  grid-column-end: 3;
  resize: none;
}
.modal_window_error_report .error_report_forms .input_file {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
}
.modal_window_error_report .error_report_forms .input_file_form {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.modal_window_error_report .error_report_forms .input_file_icon_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 1px solid #fff;
}
.modal_window_error_report .error_report_forms .input_file_button_text {
  margin-left: 15px;
  font-size: 14px;
  color: #0084cc;
}
.modal_window_error_report .error_report_forms .input_file_button_text_1 {
  font-size: 14px;
}
.modal_window_error_report .error_report_forms .input_file_button {
  border: 2px dashed #e3e3e3;
  border-radius: 6px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  cursor: pointer;
}
.modal_window_error_report .error_report_forms_control {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
}
.modal_window_error_report .error_report_forms_control .errors {
  color: #7f7f7f;
}
.modal_window_error_report .error_report_forms_control .cancel {
  line-height: 50px;
  padding: 0 45px;
  color: #0084cc;
}
.modal_window_error_report .error_report_forms_control .cancel:hover {
  text-decoration: underline;
}
.modal_window_error_report .error_report_forms_control .send {
  line-height: 50px;
  background-color: #0084cc;
  border: 2px solid #0084cc;
  color: white;
  font-weight: bold;
  padding: 0 45px;
  border-radius: 6px;
}
.modal_window_error_report .error_report_forms_control .send:hover {
  background: linear-gradient(90deg, #0084cc, #5eb4e2);
}
